.button {
  font-family: 'Outfit';
  font-size: var(--font-size16);
  display: flex;
  border-radius: 8px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.05);
}

.button:active {
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.97);
}

.primary-btn {
  background-color: var(--icon-color);
  color: #1f2933; 
  border: none;
}

.secondary-btn {
  background-color: var(--secondary-btn);
  color: var(--white-color);
  border: none;
}

.outline-btn {
  background: transparent;
  border: 1.5px var(--secondary-btn);
  color: var(--secondary-btn);
}